html
  head
    title Example Patient Data API
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/mono-blue.css')
  body
    h1 Example Patient Data API
    table
      tr
        td API root
        td
          code https://fake-patient-api.glitch.me/api/patients
      tr
        td Source code
        td
          code https://glitch.com/edit/#!/fake-patient-api
    
    p This is a simple example REST API. All of the data is fake and read-only.
    
    h2 How to use
    p Currently, no authentication is required.
    
    p By default, a GET request to 
      tt /api/patients 
      | returns a JSON array of all patient records.
    
    p You can constrain the search by providing an attribute-based filter. For example: 
      tt  /api/patients?username=:username
      |, where
      tt  :username
      |  is a username like "bobby".
    p Example response:
    pre
      code.hljs
        :highlight(lang="json", style="Mono Blue")

          {
            "patients": [
              {
                "id": "2231cfde-b7f6-4553-9e2b-beb75b4296b2",
                "username": "jim",
                "givenName": "Jim",
                "familyName": "Reid",
                "maladies": [
                  "torpor",
                  "sloth",
                  "fantods"
                ]
              },
              {
                "id": "b899357d-5f4f-40e1-897b-8f4b3da75add",
                "username": "william",
                "givenName": "Wiilliam",
                "familyName": "Reid",
                "maladies": [
                  "chilblains",
                  "quinsy",
                  "fits"
                ]
              },
              {
                "id": "e86bf7d5-9178-40ef-a65d-f786ab1618ca",
                "username": "doug",
                "givenName": "Doug",
                "familyName": "Hart",
                "maladies": [
                  "consumption"
                ]
              },
              {
                "id": "d31c3be8-8c13-458f-af04-15cf26d39371",
                "username": "bobby",
                "givenName": "Bobby",
                "familyName": "Gillespie",
                "maladies": [
                  "ague",
                  "dropsy",
                  "apoplexy"
                ]
              }
            ]
          }
          
    
